/* You can add global styles to this file, and also import other style files */
@import './styles/variables';

@font-face{
    font-family:"helveticaneue-medium";
    src:url("./fonts/HelveticaNeue\ Medium.ttf") format("woff")
}

@font-face{
    font-family:"monaco";
    src:url("./fonts/Monaco.woff") format("woff")
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $background;
}